* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pokeCard {
  background-color: rgb(136, 0, 0);
  height: 200px;
  max-width: 140px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  transition: transform 400ms ease-in-out;

  box-shadow: 0 0 10px #aaa;
  border-radius: 10px;

  padding: 20px;
  margin-bottom: 10px;
}

.pokeCard:hover {
  transform: scale(1.4);
}

.pokeCard:hover .pokeCard:not(:hover) {
  transform: scale(0.6);
}

.pokeCard img {
  background-color: aliceblue;

  border-radius: 10px;
}

.types {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pokeCard p {
  margin: 0 5px;

  color: aliceblue;
}

.pokeCard .name {
  font-size: 18px;
}